.FirstTimeLoginModal{
  width: 90%;
  min-width: 400px;
  max-width: 600px;
  background-color: rgb(32, 32, 32);
  z-index: 2200;
  text-align: center;
}


.btn-FirstTimeLogin{
  width: 200px;
  margin: 5px;
  margin-top: 10px;
}

.FirstTimeLoginModal-animation{
  position: absolute;
  z-index: 4000;
}